.settings {
  display: flex;
  background-color: #1480EC;
  padding-bottom: 20px;
  background-color: #1480EC;
}
.settings .settings-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.settings .settings-container .nav-container {
  display: flex;
  flex-direction: column;
}
.settings .settings-container .nav-container nav {
  display: flex;
  flex-direction: column;
}
.settings .settings-container .nav-container nav .logo-container {
  grid-area: logo-container;
  display: flex;
}
.settings .settings-container .nav-container nav .logo-container h1 {
  color: #fff;
  font-size: 2em;
  padding-left: -20px;
  margin-top: -75px;
}
.settings .settings-container .nav-container nav .links {
  display: flex;
  flex-direction: column;
}
.settings .settings-container .profile-container {
  grid-area: profile-area;
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 1.5rem 1.5rem;
}
.settings .settings-container .profile-container .profile-inner {
  border: 3px solid #EEF0F9;
  padding: 0.5em 1.5em 1em 1.5em;
  border-radius: 10px;
}
.settings .settings-container .profile-container .profile-input {
  display: flex;
  align-content: space-between;
  flex-direction: column;
}
.settings .settings-container .profile-container .profile-input .flex {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.settings .settings-container .profile-container .profile-input input {
  width: 23em;
  height: 1.8em;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 17px;
  padding-bottom: 20px;
  color: #000;
  padding: 15px 12px;
  font-size: 1.2em;
}
.settings .settings-container .profile-container .profile-input button {
  border: none;
  background-color: #1480EC;
  border-radius: 10px;
  font-size: 1.4em;
  padding: 15px 25px;
  width: 12em;
  margin-top: 20px;
}
.settings .settings-container .profile-container .profile-input .fname, .settings .settings-container .profile-container .profile-input .lname {
  text-align: left;
}
.settings .settings-container .profile-container h1 {
  color: #000;
  padding-bottom: 10px;
}
.settings .settings-container .profile-container label {
  color: #000;
  font-size: 1em;
}

.hamburger {
  display: none;
}

.profile-box {
  display: none;
}

.security-box {
  display: none;
}

.settingsLogo {
  display: none;
}

@media screen and (max-width: 425px) {
  .settings {
    width: 100vw;
  }
  .settings-container {
    display: grid;
    grid-template-rows: 96px auto;
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "profile-area";
  }
  .settings-container .nav-container {
    grid-area: nav;
  }
  .settings-container .nav-container .links.expanded {
    display: flex;
  }
  .settings-container .nav-container .links {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
  }
  .settings-container .nav-container .links .link-decor {
    text-align: center;
    margin-bottom: 30px;
  }
  .settings-container .nav-container .links .link-decor .decor {
    color: #fff;
    text-align: center;
    border: none;
    background-color: #1480EC;
    width: 8em;
    height: 2em;
    padding: 10px 10px;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-left: 180px;
    font-size: 25px;
  }
  .settings-container h1 {
    margin-top: 0;
  }
  .settings-container .hamburger {
    display: block;
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: transparent;
    border: none;
  }
  .settings-container .profile-box {
    display: flex;
    padding-top: 30px;
    padding-left: 20px;
    gap: 10px;
  }
  .settings-container .profile-box h1 {
    font-size: 25px;
    color: #fff;
  }
  .settings-container .profile-box .settingsLogo {
    display: block;
  }
  .settings-container .logo-container {
    display: none;
  }
  .settings-container .profile-container {
    grid-area: profile-area;
    background-color: #fff;
  }
  .settings-container .profile-container .profile-inner {
    border: none;
    padding: 0;
  }
  .settings-container .profile-container .profile-inner h1 {
    font-size: 25px;
  }
  .settings-container .profile-container .profile-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .settings-container .profile-container .profile-input .flex {
    flex-direction: column;
    align-content: center;
    gap: 10px;
  }
  .settings-container .profile-container .profile-input input {
    width: 244px;
    height: 34px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 17px;
    padding-bottom: 40px;
    color: #000;
    padding: 5px 12px;
    font-size: 1.2em;
  }
}/*# sourceMappingURL=Settings.css.map */